# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.CherryDough.iml
# Datasource local storage ignored files
/../../../../../../:\workspace\CherryDough\.idea\.idea.CherryDough\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
